.chat {

  &_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &_item {
    position: relative;
    display: flex;
    gap: 10px;
    cursor: pointer;
    border-radius: 7px;
    width: 24%;
    padding: 20px;
    border: 1px solid var(--color-grey-3);

    &_content {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &_name {
      font-size: 22px;
      font-weight: 800;
    }

    &_description {
      font-size: 18px;
      color: var(--color-grey-white);
    }

    &_image {
      position: relative;
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      img {
        align-self: flex-end;
        position: absolute;
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
  }
}