.wrapper {
  display: grid;
  grid-template-columns: 1.45fr 2fr;
}

.nativeForm {
  top: 0;
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form {
  padding: 15px;

}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.prompt {
  &_title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.question {
  display: flex;
  align-items: center;
  gap: 10px;
  svg {
    width: 26px;
    height: 26px;
  }
  svg path {
    fill: var(--clr-secondary);
  }
}

.loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110%;
  height: 120%;
  top: 0;
  right: 0;
  backdrop-filter: blur(4px);
}

.workspace {
  padding-left: 40px;

  &_prev {
    overflow: auto;
    margin-top: 40px;
    padding-bottom: 150px;

    &_title {
      font-size: 18px;
      color: var(--clr-gray-5);
    }
    &_list {
      padding: 5px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      &_item {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        position: relative;
        cursor: pointer;
        background: var(--color-grey-6);
        border: 1px solid var(--color-grey-5);
        padding: 20px;
        border-radius: 10px;
        color: var(--color-grey-white);
        font-size: 17px;
        line-height: 22px;
        transition: 0.15s;
        &:hover {
          transform: scale(1.01);
          border-color: #0acba3;
        }

        &_copied {
          border-color: var(--clr-bage-stable-text) !important;
        }

        &_text {
        }
      }
    }

    &::-webkit-scrollbar {
      width: 4px; /* ширина полосы прокрутки */
      height: 4px; /* высота полосы прокрутки */
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: var(--main-bg-contrast); /* цвет фона полосы прокрутки */
    }


    &_empty {
      text-align: center;
    }
  }
}

.action {
  right: 20px;
  top: 20px;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 8px;
    border: 1px solid var(--clr-bage-beta-text);
    transition: 0.15s;
    &_like {

      svg path {
        fill: var(--clr-success);
      }
      &:hover {
        border-color: var(--clr-success);
      }

      &_active {
        border-color: var(--clr-success);
        background: var(--clr-success);

        svg path {
          fill: var(--color-white);
        }
      }
    }

    &_dislike {
      svg path {
        fill: var(--clr-error);
      }
      &:hover {
        border-color: var(--clr-error);
      }

      &_active {
        border-color: var(--clr-error);
        background: var(--clr-error);
        svg path {
          fill: var(--color-white);
        }
      }
    }

    &_default {
      svg path {
        fill: var(--color-grey-white);
      }

      &:hover {
        svg path {
          fill: var(--clr-bage-beta-text);
        }
      }
    }
  }
}

.result {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-grey-white);
}

.description {
  outline: none;
  border: none;

  p {
    display: inline-block;
    padding-top: 15px !important;
  }

  ul {
    padding-top: 15px;
  }
}

.docs_list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  &_item {
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--color-grey-white);
    transition: 0.15s;
    font-size: 16px;

    &:hover {
      border-color: var(--clr-bage-beta-text);
    }
  }
}