.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 50px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 50px;
  border-right: 1px solid #c9c9c920;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &_form {
    width: 80%;
    margin: 0 auto;
  }
}