.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.actions {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.form {
  width: 70%;
  padding: 20px;
  display: flex;
  gap: 20px;

  &_input {
    width: 100%;
  }
}