.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.actions {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.form {
  width: 70%;
  margin-top: 20px;
  margin-bottom: 80px;
  display: flex;
  gap: 20px;

  &_input {
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-grey-3);
    outline: none;
    background: transparent;
    resize: none;
    color: var(--color-grey-white);
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1px;
    font-family: 'Montserrat', sans-serif;

    &:active, &:focus {
      border-color: var(--clr-secondary);
    }
  }
}

.field {
  display: flex;
  gap: 20px;
  border-radius: 8px;
  width: 100%;
  padding: 20px;
  background: #c9c9c910;
  border: none;
  outline: none;


}

.button {
  align-self: flex-start;
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
  svg {
    path {
      transition: 0.15s;
      stroke: var(--color-grey-3);
    }
  }

  &:hover {
    svg {
      path {
        stroke: var(--clr-secondary) !important;
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.typing {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  span {
    color: var(--color-grey-3);
    white-space: nowrap;
    width: max-content;
  }
}

.messagesContainer {
  max-width: 70%;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  background: #c9c9c910;
  border-radius: 10px;
  padding: 20px 10px 20px 20px;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: 100%;
  max-height: 100%;
  padding-right: 10px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px; /* ширина полосы прокрутки */
    height: 4px; /* высота полосы прокрутки */
  }

  &::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #ababab20;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: var(--color-grey-3); /* цвет фона полосы прокрутки */
  }
}

.message {
  max-width: 80%;
  display: flex;
  word-wrap: break-word !important;
}

.user {

  padding: 10px;
  border-radius: 8px;
  align-self: flex-end;
  background: #207362;
}

.assistant {

  padding: 10px;
  border-radius: 8px;
  align-self: flex-start;
  background: #676767;
}